ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 10em;
	font-size: 13px;
	font-family: Arial, sans-serif;
        border: 1px solid #ccc;
}
ul.boxy li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #ccc;
	background-color: #FFFFBB;
   color: #D89319
}

div#layout {
   width: 37em;
}

#depot_box {
   width: 10em;
   float: left;
   height: 32em;
   background-color: #FFFFDD;
}

#header_box {
   width: 31.2em;
   float: right;
   min-height: 6em;
   margin-left: .5em;
   margin-bottom: .5em;
   background-color: #FFFFDD;
}

#left_box {
   width: 9.5em;
   min-height: 18em;
   clear:right;
   float: right;
   margin-left: .5em;
   background-color: #FFFFDD;
}

#center_box {
   width: 9.5em;
   min-height: 18em;
   float: right;
   margin-left: .5em;
   background-color: #FFFFDD;
}

#right_box {
   width: 9.5em;
   min-height: 18em;
   float: right;
   margin-left: .5em;
   background-color: #FFFFDD;
}

#footer_box {
   width: 31.2em;
   min-height: 6em;
   clear:right;
   float: right;
   margin-left: .5em;
   margin-top: .5em;
   background-color: #FFFFDD;
}